﻿
@{
    ViewBag.Title = "infor";
    Layout = "~/Views/share/_layout.cshtml";
}

<h2>infor</h2>

<div class="main-content">
    <div class="content-left">
        <div class="left">
            <div class="top">
                <p><button>Trang chủ</button></p>
            </div>
            <div class="foot">
                <img src="~/Content/Images/thumnails.png" />
                <h2>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h2>
                <h4>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nãy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</h4>
                <p>Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <button>English</button>
            </div>
            <div class="center">
                <h4>Đài Loan đóng cửa trường học vì bão Megi</h4>
                <h4>Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chỗ dung thân</h4>
                <h4>Tại sao các đôi hoàn hảo vẫn ly dị</h4>
                <h4>Lỗ hỗng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</h4>
            </div>
            <div class="foot">

            </div>
        </div>
    </div>
    <div class="content-right">
        <p class="time-button">Thứ ba, 27/9/2016 | 09:16 GMT+7 <button>24h qua</button> <button>RSS</button></p>

        <div>
            <img src="~/Content/Images/right-ads-1.png" />
        </div>
        <div>
            <img src="~/Content/Images/right-ads-2.png" />
        </div>
        <div>
            <img src="~/Content/Images/right-ads-3.png" />
        </div>
    </div>

</div>

