﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E4 VNEXPRESS</title>
    <link href="~/Content/css/Mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">

        <div class="main-bar">
            <div class="contact-left">
                <a>(0383) 123212</a>
                <a>(0383) 151521</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtobe</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng ký</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="banner-container">
            <img src="~/Content/Images/Logo_Vnexpress.png" />
            <img src="~/Content/Images/banner-ads-1.png" />
            <img src="~/Content/Images/banner-ads-2.png" />
        </div>
    </div>

    <div class="main-control">
        <button>Home</button>
        <a>|</a>
        <button>Thời sự</button>
        <a>|</a>
        <button>Thế giới</button>
        <a>|</a>
        <button>Kinh doanh</button>
        <a>|</a>
        <button>Giải trí</button>
        <a>|</a>
        <button>Thể thao</button>
        <a>|</a>
        <button>Pháp luật</button>
        <a>|</a>
        <button>Giáo dục</button>
        <a>|</a>
        <button>Sức khỏe</button>
        <a>|</a>
        <button>Gia đình</button>
        <a>|</a>
        <button>Du lịch</button>
        <a>|</a>
        <button>Khoa học</button>
        <a>|</a>
        <button>Số hóa</button>
        <a>|</a>
        <button>Xe</button>
        <a>|</a>
        <button>Cộng đồng</button>
        <a>|</a>
        <button>Tâm sự</button>
        <a>|</a>
        <button>Video</button>
        <a>|</a>
        <button>Cười</button>
        <a>|</a>
        <button>Rao vặt</button>

    </div>

   
    <main>@RenderBody()</main>


    </div>
</body>
</html>
